<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t('errors.messages.not_saved',
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
    </h2>
    <ul>
      <% resource.errors.each do |error| %>
        <li><%= I18n.t(".activerecord.errors.models.user.attributes.#{error.attribute}.#{error.type}") %></li>
      <% end %>
    </ul>
  </div>
<% end %>
