<div class="flex justify-center">
  <div class="flex flex-col">
    <% if @notifications.present? %>
      <div class="bg-white border shadow w-60 dark:bg-gray-700 z-10 divide-gray-100 rounded-lg divide-y">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <% @notifications.each do |notification| %>
            <li>
              <%= link_to notification.message, user_notification_path(id: notification.id, user_id: current_user.id),
                          class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
        <p>通知はありません</p>
    <% end %>

    <div class="my-3 flex justify-center">
      <%= link_to '戻る', :back, class: 'bg-gray-600 hover:bg-gray-500 text-white rounded block px-4 py-2 mb-2' %>
    </div>
  </div>
</div>
