<h1>ユーザー一覧</h1>

<div id="users" class="index-items">
  <% @users.each do |user| %>
    <div class="index-item">
      <%= render user %>

      <p>
        <%= link_to "#{user.name}の詳細", user_path(user) %>
      </p>
    </div>
  <% end %>
</div>
