<div class="mb-6">
  <div>
    <%= render @user %>
  </div>
  <div class="flex justify-center">
    <%= link_to '戻る', :back, class: 'bg-gray-600 hover:bg-gray-500 text-white rounded px-4 py-2 ml-1' %>
  </div>
</div>
