<div class="my-4">
  <p class="font-bold underline">Hello World</p>
  <% if user_signed_in? %>
  <%= button_to 'ログアウト', destroy_user_session_path, { method: :delete, data: { turbo_confirm: '本当に削除しますか？' } } %>
<% end %>
</div>
