<div class="p-2">
  <div class="flex justify-between mb-4">
    <h2 class="font-bold text-3xl">イベント編集</h2>
    <%= link_to 'イベント詳細に戻る', @event,
                class: 'relative -ml-px inline-flex items-center rounded-md bg-white
                          px-3 py-2 font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10' %>
  </div>
  <%= form_with(model: @event, url: events_path(@event), method: :post, data: { turbo: false }) do |form| %>
    <%= render partial: 'form', locals: { form: } %>
    <div>
      <%= form.submit '保存', class: 'font-bold text-white bg-green-500 p-2 rounded-lg cursor-pointer' %>
    </div>
  <% end %>
</div>
