<div class="p-2">
  <h2 class="font-bold text-3xl">イベント作成</h2>
  <%= form_with(model: @event, url: events_path, method: :post, data: { turbo: false }) do |form| %>
    <%= render partial: 'form', locals: { form: } %>
    <div class="">
      <%= form.submit '作成', class: 'font-bold text-white bg-blue-500 border border-green-500 p-2 rounded-lg cursor-pointer' %>
    </div>
  <% end %>
</div>
