<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1><%= @event.name %>の参加申請が<%= @status %>されました。</h1>
    <p><a href="http://localhost:3000/events/<%= @event.id %>">サイト</a>でチェックしましょう</p>
  </body>
</html>
