<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>コメントで<%= @mentioning_user.name %>さんからメンションされました</h1>
    <p><a href="<%= ENV.fetch('MINSAKA_URL', nil) %>/events/<%= @event.id %>">サイト</a>でチェックしましょう</p>
  </body>
</html>
